.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backgroundModal);
}

.modal_content {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: var(--backgroundMain);
    border-radius: 4px;
}

.modal_content_flex {
    display: flex;
    gap: 24px;
}

.modal_content_img {
    width: 280px;
    height: 280px;
    border-radius: 4px;
}

.modal_content_title {
    color: var(--title);
    font-size: 24px;
    font-weight: 700;
}

.modal_content_country_name {
    color: var(--header);
    font-size: 16px;
    font-weight: 400;
}

.modal_content_text {
    color: var(--text);
    font-size: 12px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.close {
    position: absolute;
    top: 12px;
    right: 24px;
    font-size: 24px;
    cursor: pointer;
}

.close:hover {
    transform: scale(1.5);
}
